<h3>{{model.title}}</h3>
<button class='btn btn-danger button-inline' {{action 'deleteSubCategory' model}}>Delete</button>
{{sub-category-update subCategory=model editSubCategory='editSubCategory' class='button-inline'}}
{{listing-add subCategory=model addListing='addListing' class='button-inline'}}
{{listing-list subCategory=model}}
{{outlet}}
