<h3>{{model.title}}</h3>
{{#if session.isAuthenticated}}
  <button class='btn btn-danger button-inline' {{action 'deleteSubCategory' model}}>Delete</button>
  {{sub-category-update subCategory=model editSubCategory='editSubCategory' class='button-inline'}}
{{/if}}
{{listing-add subCategory=model addListing='addListing' class='button-inline'}}
{{listing-list subCategory=model}}
{{outlet}}
